@using Excubo.Blazor.Grids.__Internal
@using System.Globalization

<CascadingValue Value="this" IsFixed="true">
    @if (Grid.AspectRatio == null)
    {
        <div class="eg-elc @additional_class" style="@column @row @additional_style" @attributes='AdditionalAttributes?.Where(kv => kv.Key != "style" && kv.Key != "class")'>
            <Header />
            @ChildContent
        </div>
    }
    else
    {
        var padding_bottom = 100.0 / Grid.AspectRatio.Value * actual_row_span / actual_column_span;
        var padding_bottom_s = padding_bottom.ToString(CultureInfo.InvariantCulture) + "%";
        <div class="eg-elc @additional_class" style="@column @row padding-bottom: @padding_bottom_s; @additional_style" @attributes='AdditionalAttributes?.Where(kv => kv.Key != "style" && kv.Key != "class")' @ref="Area">
            <div class="eg-el">
                <Header />
                <div class="eg-elbd">
                    @ChildContent
                </div>
            </div>
            <ResizeHandle />
        </div>
    }
</CascadingValue>

@code {
    internal ElementReference Area;
}
