@using Excubo.Blazor.Grids.__Internal
<Excubo.Blazor.LazyStyleSheet.Stylesheet Src="_content/Excubo.Blazor.Grids/style.min.css" />
<CascadingValue Value="this" IsFixed="true">
    <div style="
            display: grid;
            position: relative;
            grid-template-columns: @(string.Join(" ", column_definitions.Select(d => d.Width)));
            grid-template-rows: @(string.Join(" ", row_definitions.Select(d => d.Height)));
            grid-column-gap: @ColumnGap;
            grid-row-gap: @RowGap;
            @additional_style"
         @attributes="@additional_attribues_without_style"
         @ref="Area">
        @ChildContent
        <MovingIndicatorOverlay @ref="MovingIndicatorOverlay"/>
    </div>
</CascadingValue>

@code {
    internal ElementReference Area;
    internal MovingIndicatorOverlay MovingIndicatorOverlay;
}
