
<a href="">Home</a>
<ul>
    <li><a href="grid">Grid</a></li>
    <li><a href="titles">Titles</a></li>
    <li><a href="aspect_ratio">Aspect ratio</a></li>
    <li><a href="movable_elements">Movable elements</a></li>
    <li><a href="resizable_elements">Resizable elements</a></li>
    <li><a href="movable_and_resizable_elements">Movable &amp; resizable elements</a></li>
    <li><a href="no_overlapping_elements">Preventing overlaps</a></li>
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="overlay_customization">Overlay customization</a></li>
    <li><a href="events">Events</a></li>
</ul>
<div style="width: fit-content; margin-left: auto; margin-right: auto">
    <CommitLink />
</div>
