
<style>
    .navigation-link {
        color: white;
    }

        .navigation-link:hover {
            color: whitesmoke;
        }
</style>
<a class="navigation-link" href="">Home</a>
<ul>
    <li><a class="navigation-link" href="grid">Grid</a></li>
    <li><a class="navigation-link" href="named_areas">Named areas</a></li>
    <li><a class="navigation-link" href="titles">Titles</a></li>
    <li><a class="navigation-link" href="aspect_ratio">Aspect ratio</a></li>
    <li><a class="navigation-link" href="movable_elements">Movable elements</a></li>
    <li><a class="navigation-link" href="resizable_elements">Resizable elements</a></li>
    <li><a class="navigation-link" href="movable_and_resizable_elements">Movable &amp; resizable elements</a></li>
    <li><a class="navigation-link" href="no_overlapping_elements">Preventing overlaps</a></li>
    <li><a class="navigation-link" href="dashboard">Dashboard</a></li>
    <li><a class="navigation-link" href="overlay_customization">Overlay customization</a></li>
    <li><a class="navigation-link" href="events">Events</a></li>
    <li><a class="navigation-link" href="element_class">Uniform element style</a></li>
</ul>
<hr />
<div style="width: fit-content; margin-left: auto; margin-right: auto">
    <CommitLink />
</div>
