@page "/headers"
<SourceCodeLink Repository="Blazor.Grids" Page="@(nameof(Titles))" />

In this demo, the titles of elements are styled using the TitleSettings.

@if(EditMode)
{
    <div style="background-color: lightcoral; padding: 10px; margin-bottom:30px;">You are in Edit Mode, drag items to arrange them. <button style="float:right" @onclick="DoClick">Exit Edit</button></div>
}

<Grid RowGap="1em" ColumnGap="1em" AllowMove="EditMode" AllowResize="EditMode">
    <Header>
        <svg class="svg-icon" viewBox="0 0 20 20" width="32px" height="32px">
            <path d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"></path>
        </svg>
        @context
        @if(!EditMode)
        {
            <button style="float:right" @onclick="DoClick">Click To Edit</button>            
        }        
    </Header>
    <ChildContent>
        <TitleSettings HeadingLevel="4" Alignment="Alignment.Left" />
        <Rows Count="4" />
        <Columns Count="4" />
        <Element Column="0" Row="0" Title="Hello">
           Its great to see you here.
        </Element>
        <Element Column="0" Row="1" Title="World">
            This grid is usable around the world.
        </Element>
        <Element Column="0" Row="2" Title="Welcome">
            We would like to thank everyone for being here, and congratulate them for sticking around for a long title
        </Element>
        <Element Column="1" Row="0" Title="A long long time ago, a title well remembered, ...">
            <Header>
                <svg class="svg-icon" viewBox="0 0 20 20" width="32px" height="32px">
                    <path d="M18.121,9.88l-7.832-7.836c-0.155-0.158-0.428-0.155-0.584,0L1.842,9.913c-0.262,0.263-0.073,0.705,0.292,0.705h2.069v7.042c0,0.227,0.187,0.414,0.414,0.414h3.725c0.228,0,0.414-0.188,0.414-0.414v-3.313h2.483v3.313c0,0.227,0.187,0.414,0.413,0.414h3.726c0.229,0,0.414-0.188,0.414-0.414v-7.042h2.068h0.004C18.331,10.617,18.389,10.146,18.121,9.88 M14.963,17.245h-2.896v-3.313c0-0.229-0.186-0.415-0.414-0.415H8.342c-0.228,0-0.414,0.187-0.414,0.415v3.313H5.032v-6.628h9.931V17.245z M3.133,9.79l6.864-6.868l6.867,6.868H3.133z"></path>
                </svg>
            </Header>
            <ChildContent>
                This is my home.
            </ChildContent>
        </Element>
    </ChildContent>

</Grid>

@code{
    public bool EditMode { get; set; } = false;

    private void DoClick()
    {
        EditMode = !EditMode;

    }
}
