@page "/dashboard"

A dashboard is a grid that sets an <a href="aspect_ratio">AspectRatio</a>, <a href="movable_elements">AllowMove</a>, <a href="resizable_elements">AllowResize</a>, and AutoRows.
This dashboard has four columns.

<Dashboard AspectRatio="1.5" style="height: 100%" ColumnCount="4">
    @foreach (var element in elements)
    {
        <Element @bind-Row="element.Row" @bind-Column="element.Column" @bind-RowSpan="element.RowSpan" @bind-ColumnSpan="element.ColumnSpan"
                 Title="@element.Color"
                 style="border: none; box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12)">
                @*The style above gives the element material style*@
            <div style="height: 100%; width: 100%; background-color: @(element.Color)"></div>
        </Element>
    }
</Dashboard>

@code {
    public class ElementDefinition
    {
        public int Row { get; set; }
        public int Column { get; set; }
        public int RowSpan { get; set; }
        public int ColumnSpan { get; set; }
        public string Color { get; set; }
    }
    private List<ElementDefinition> elements = new List<ElementDefinition>
    {
        new ElementDefinition { Row = 0, Column = 0, Color = "purple" },
        new ElementDefinition { Row = 0, Column = 1, Color = "gray" },
        new ElementDefinition { Row = 1, Column = 0, Color = "pink" },
        new ElementDefinition { Row = 1, Column = 1, Color = "green" },
        new ElementDefinition { Row = 5, Column = 0, ColumnSpan = 2, Color = "cyan" },
        new ElementDefinition { Row = 1, Column = 2, RowSpan = 3, Color = "#88884488" }
    };
}
